### Application stuff
/app/CHANGELOG.php
/app/config.php
/app/config.dist.php
/app/cache/**
!/app/cache/.htaccess
!/app/cache/web.config
/app/tmp/**
!/app/tmp/.htaccess
!/app/tmp/web.config
/app/log/**
!/app/log/.htaccess
!/app/log/web.config
/app/LICENSE.txt
/app/version.php

### Component stuff
/component/backend/version.php
/component/backend/panopticon.xml
/pkg_panopticon.xml

### Composer
/app/vendor

### Node.js
/node_modules

### Build & Release files
/build/override.properties
/release

### Private files
/assets/phpstorm_http/http-client.private.env.json