### phpStorm
/.idea/laravel-idea.xml

### Application stuff
/config.php
/config.php.*
/.env
/.env.production
/.env.local
/.env.dev
/.env.docker
/cache/**
!/cache/.htaccess
!/cache/web.config
/tmp/**
!/tmp/.htaccess
!/tmp/web.config
/log/**
!/log/.htaccess
!/log/web.config
/version.php
/.htaccess

### Automatically installed NPM dependencies
/media/ace/**
/media/choices/**
/media/css/fontawesome.*
/media/js/bootstrap.bundle.*
/media/petite-vue/*.js
/media/tinymce
!/media/tinymce/skins/content/akeeba
!/media/tinymce/skins/ui/akeeba
/media/webfonts/fa-*

### User code dir
/user_code/*
!/user_code/.gitkeep

### Composer
/vendor

### Node.js dev dependencies
/node_modules

### Build & Release files
/build/override.properties
/release
/1
/docker-compose.override.yml
/docker-compose-frankenphp.override.yml
/docker-testing