### Application stuff
config.php
/cache/**
!/cache/.htaccess
!/cache/web.config
/tmp/**
!/tmp/.htaccess
!/tmp/web.config
/log/**
!/log/.htaccess
!/log/web.config
/version.php
/.htaccess

### User code dir
/user_code/*
!/user_code/.gitkeep

### Composer
/vendor

### Node.js dev dependencies
/node_modules

### Build & Release files
/build/override.properties
/release
/1
